@charset "UTF-8";

.container {
  max-width: 1400px;
  width: auto;
  margin: 0 auto;
  padding: 0px;
}

body {
  font-family: var(--fontMain);
}

body.locked {
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  text-decoration: none;
}

.btn_outline {
  color: var(--primary);
}

.btn_outline:hover {
  color: var(--secondary);
  text-decoration: underline;
}

.btn_primary {
  background: var(--primary);
  color: var(--white);
}

.btn_primary:hover {
  background: var(--primaryDark);
  color: var(--white);
  text-decoration: underline;
}

.btn_secondary {
  color: var(--white);
  background: var(--secondary);
  padding: 15px 30px;
  max-width: 270px;
}

.btn_secondary:hover {
  background: var(--primaryDark);
  color: var(--white);
  text-decoration: underline;
}

.section_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: var(--primary);
}

.section_title.title_center {
  text-align: center;
  margin: 0;
}

.section_title.title_secondary {
  color: var(--white);
}

.section_subtitle {
  font-weight: 400;
  line-height: 22px;
  margin-top: 15px;
  letter-spacing: 0.3px;
  color: var(--black);
}

.section_subtitle.subtitle_center {
  text-align: center;
}

.section_subtitle.subtitle_secondary {
  color: var(--white);
}

.section_about {
  background: var(--primary);
  padding: 80px 10px;
  gap: 10px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
}

.about_item {
  border-top: 6px solid var(--secondary);
  background: var(--white);
  padding: 35px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 380px;
  flex: 0 1 380px;
  margin-top: 30px;
}

.about_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
  color: var(--primaryDark);
}

.about_text {
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.3px;
}

.section_action {
  text-align: center;
  margin: 80px 10px;
  gap: 15px;
}

.action_btn {
  max-width: 450px;
  margin: 0 auto;
  margin-top: 50px;
}

.section_benefits {
  background: var(--primary);
  padding: 80px 10px;
  gap: 10px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
}

.benefits_item {
  border-top: 6px solid var(--secondary);
  background: var(--white);
  padding: 35px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 300px;
  flex: 0 1 300px;
  margin-top: 30px;
}

.benefits_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
  color: var(--primaryDark);
}

.benefits_text {
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.3px;
}

.section_contacts {
  padding: 204px 10px;
  color: var(--white);
  text-align: center;
  background: url(../img/contacts.jpg) center/cover no-repeat;
}

.contacts_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 56px;
  letter-spacing: 0.2px;
}

.contacts_subtitle {
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.3px;
}

.contacts_text {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 33px 10px 19px 10px;
  gap: 16px;
}

.form_input {
  width: 450px;
  height: 52px;
  background: #FFFFFF;
  border: 1px solid #D3DAD7;
  padding: 16px 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
  color: var(--primaryDark);
  outline: none;
}

.form_input::-webkit-input-placeholder {
  color: #94A69D;
}

.form_input::-moz-placeholder {
  color: #94A69D;
}

.form_input:-ms-input-placeholder {
  color: #94A69D;
}

.form_input::-ms-input-placeholder {
  color: #94A69D;
}

.form_input::placeholder {
  color: #94A69D;
}

.form_input:focus {
  border: 1px solid var(--primaryDark);
}

.form_btn {
  border: none;
}

footer {
  background: var(--primary);
  padding: 70px 60px;
  color: var(--white);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 85px;
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(211, 218, 215, 0.5);
}

.footer_title {
  font-weight: 500;
  line-height: 24px;
}

.footer_list {
  list-style: none;
  margin-top: 20px;
  padding-left: 0;
}

.footer_list-item {
  margin-top: 9px;
}

.footer_list-item.language_item {
  margin-top: 42px;
}

.footer_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #B0BDB7;
  text-decoration: none;
  -webkit-transition: 0.3s color;
  -o-transition: 0.3s color;
  transition: 0.3s color;
}

.footer_link:hover {
  color: var(--white);
}

.copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 35px;
}

.copy_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  gap: 5px;
  img-max-width: 24px;
  img-min-width: 20px;
}

.copy_text {
  font-weight: 500;
  line-height: 24px;
  color: #B0BDB7;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.social_item {
  list-style: none;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.social_img:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.header_wrapper {
  position: relative;
  padding-bottom: 250px;
  overflow: hidden;
}

.header_wrapper .hero_img {
  position: absolute;
  right: 0;
  top: 0px;
  bottom: 0;
  z-index: -1;
  -o-object-fit: cover;
  object-fit: cover;
}

.hero_item {
  padding-top: 150px;
  max-width: 450px;
  margin-left: 10px;
  color: var(--primary);
}

.hero_subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 36px;
  color: var(--neutral);
  opacity: 0.85;
}

.hero_title {
  font-weight: 600;
  font-size: 48px;
  line-height: 130%;
  margin-top: 0px;
  margin-bottom: 25px;
}

.hero_title #hero_span {
  font-weight: 700;
  color: var(--secondary);
  margin-top: 0px;
}

.hero_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.hero_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  margin-left: 65px;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.menu-item {
  list-style: none;
}

.menu-item.with_submenu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-item.with_submenu .submenu {
  list-style: none;
  margin-top: 15px;
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  background: var(--primary);
  padding: 0px;
  display: none;
}

.menu-item.with_submenu .submenu.active {
  display: block;
  -webkit-animation: fadeIn 0.5s linear;
  animation: fadeIn 0.5s linear;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.menu-item.with_submenu .submenu_link {
  color: var(--white);
  text-decoration: none;
  line-height: 20px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-transition: 0.5s background-color;
  -o-transition: 0.5s background-color;
  transition: 0.5s background-color;
}

.menu-item.with_submenu .submenu_link:hover {
  background: var(--secondary);
}

.menu-item-link {
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--primaryDark);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-item-link:hover {
  color: var(--secondary);
}

.menu-item-link.trigger_link.active {
  color: var(--secondary);
}

.menu-item-link.trigger_link.active .submenu_path {
  fill: var(--secondary);
}

.menu-item-link.trigger_link:hover .submenu_path {
  fill: var(--secondary);
  -webkit-transition: 0.3s fill;
  -o-transition: 0.3s fill;
  transition: 0.3s fill;
}

.menu-item-link .submenu_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  -o-transition: 0.3s transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
}

.menu-item-link .submenu_arrow.active {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.nav_btns {
  margin-left: auto;
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_btns.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  gap: 20px;
  z-index: 3;
}

.nav_btn {
  padding: 15px 30px;
}

.btn_outline.active:hover {
  color: var(--primaryDark);
}

.burger {
  display: none;
  cursor: pointer;
}

.burger,
span {
  position: absolute;
  top: -13px;
  right: 0;
  height: 2px;
  background: var(--menuActiveColor);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
}

.burger:hover,
span:hover {
  color: var(--secondary);
  font-weight: 500;
}

.news {
  list-style: none;
  padding: 10px 0 50px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section_offers {
  padding: 50px 0;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  margin-top: 20px;
}

.offers_item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 300px;
  flex: 0 1 300px;
  margin-top: 30px;
  border: 1px solid #E0E5E2;
}

.offer_img img {
  min-width: 100%;
  width: 100%;
  height: auto;
}

.offer_body {
  padding: 15px;
}

.offer_title {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.offer_title img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.offer_text {
  font-weight: 400;
  line-height: 24px;
  margin-top: 15px;
}

.offer_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--neutralLight);
  text-decoration: none;
  padding: 5px;
  width: 60px;
  margin-left: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.offer_btn:hover {
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.offer_btn:hover .offer_btn-text {
  display: block;
}

.offer_btn:hover .offer_arrow {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.offer_btn-text {
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 4px;
  display: none;
  color: var(--black);
  -webkit-animation: fadeIn 1s linear;
  animation: fadeIn 1s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.offer_arrow {
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  -o-transition: 0.3s transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.offers_text {
  margin-top: 50px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.3px;
}

.section_statistic {
  z-index: 3;
}

.statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.statistic_item {
  color: var(--primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.statistic_item:nth-child(2) {
  position: relative;
}

.statistic_item:nth-child(2)::after {
  position: absolute;
  left: 0;
  top: 15px;
  bottom: 15px;
  width: 2px;
  height: 40px;
  background: var(--black);
  content: "";
}

.statistic_item:nth-child(2)::before {
  position: absolute;
  right: 0;
  top: 15px;
  bottom: 15px;
  width: 2px;
  height: 40px;
  background: var(--black);
  content: "";
}

.statistic_title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-transform: capitalize;
}

.statistic_text {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.section_team {
  border: 3px solid var(--secondary);
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
  max-width: 1125px;
  padding: 30px 0;
  margin: 150px auto;
}

.slider {
  margin: 45px 25px;
  overflow: hidden;
}

.slider-line {
  width: 2040px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 0;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}

.slider_arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 45px;
  gap: 45px;
}

.slider_btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.slider_btn:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.slide {
  color: var(--primary);
  text-align: center;
  overflow-wrap: break-word;
  min-width: 300px;
  height: 100%;
  margin: 0 30px;
}

.slide_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slide_img img {
  max-width: 180px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.slide_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 30px 0 15px 0;
}

.slide_subtitle {
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.3px;
}

.slide_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.3px;
  margin: 10px 0 0 0;
}

.title {
  text-transform: uppercase;
  border: 1px solid blue;
}

:root {
  --primary: #03283c;
  --primaryDark: #010d14;
  --secondary: #ff6200;
  --neutral: #08699e;
  --neutralLight: #d6effd;
  --white: #fff;
  --black: #000;
  --fontMain: "Montserrat", sans-serif;
}

.section_vision {
  background: var(--primary);
  padding: 80px 10px;
  gap: 10px;
}

.section_who {
  padding: 220px 10px 130px 10px;
  position: relative;
  overflow: hidden;
}

.section_who .who_img {
  position: absolute;
  right: 0;
  top: -50px;
  bottom: 0;
}

.who_img-mob {
  display: none;
}

.who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.who_item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 200px 0;
}

.section_why {
  position: relative;
  overflow: hidden;
  padding: 190px 10px 220px 10px;
}

.section_why .why_img {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.why_img-mob {
  display: none;
}

.why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why_item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
}

.why_btn {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-top: 15px;
}

@supports (-webkit-appearance:none) {
  .section_contacts {
    background: url(../img/contacts.webp) center/cover no-repeat;
  }
}

@media (max-width: 1449.98px) {
  .btn {
    font-size: 14px;
    padding: 10px 15px;
  }

  .btn_secondary {
    padding: 10px 20px;
    max-width: 200px;
  }

  .section_title {
    font-size: 42px;
  }

  .section_contacts {
    padding: 125px 10px;
  }

  .header_wrapper .hero_img {
    max-width: 50%;
    width: 100%;
    height: auto;
  }

  .hero_subtitle {
    font-size: 18px;
    line-height: 1.3;
  }

  .hero_title {
    font-size: 42px;
  }

  .logo img {
    max-width: 200px;
    margin-left: 10px;
  }

  .menu {
    gap: 25px;
    margin-left: 40px;
  }

  .menu-item-link {
    font-size: 14px;
  }

  .statistic_title {
    font-size: 32px;
    line-height: 1;
  }

  .statistic_text {
    font-size: 20px;
  }

  .section_why {
    padding: 80px 10px;
  }

  .section_why .why_img {
    max-width: 500px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1199.98px) {
  .action_btn {
    margin-top: 30px;
  }

  .header_wrapper {
    padding-bottom: 150px;
  }

  .section_team {
    margin: 100px 10px;
  }

  .slider_arrows {
    margin-top: 35px;
  }

  .section_who {
    padding: 70px 10px;
  }

  .section_who .who_img {
    max-width: 500px;
    top: 0px;
  }

  .who_item {
    padding: 100px 0;
  }

  .section_why {
    padding: 0px 10px;
  }

  .why_item {
    padding: 100px 10px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 991.98px) {
  .section_title {
    font-size: 34px;
  }

  .section_about {
    margin-top: 0;
  }

  .about_item {
    margin-top: 20px;
    padding: 20px;
  }

  .section_benefits {
    margin-top: 0;
  }

  .benefits {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
  }

  .benefits_item {
    margin-top: 10px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 48%;
    flex: 1 0 48%;
  }

  .header_wrapper .hero_img {
    min-width: 100%;
    top: 0;
  }

  .hero_item {
    padding: 50px 10px 10px 10px;
    background: var(--white);
  }

  .hero_subtitle {
    font-size: 16px;
  }

  .hero_title {
    font-size: 34px;
  }

  .navbar {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .menu {
    margin-left: 0px;
  }

  .menu-item.with_submenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .menu-item.with_submenu .submenu.active {
    position: static;
  }

  .menu-item.with_submenu .submenu_link {
    padding: 10px;
  }

  .menu-item-link .submenu_arrow:hover .submenu_path {
    fill: var(--secondary);
  }

  .nav_btns {
    display: none;
  }

  .nav_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    background: var(--secondary);
    color: var(--white);
  }

  .nav_btn:hover {
    color: var(--primaryDark);
    background: var(--secondary);
  }

  .section_team {
    margin: 70px 10px;
    padding: 20px 0;
  }

  .slider {
    margin: 35px 20px;
  }

  .slider_arrows {
    margin-top: 30px;
  }

  .slide_img img {
    max-width: 150px;
  }

  .slide_title {
    font-size: 16px;
    margin-top: 10px;
  }

  .slide_subtitle {
    font-size: 14px;
  }

  .slide_text {
    line-height: 1.3;
  }

  .section_why .why_img {
    display: none;
  }

  .why_img-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .why_item {
    padding: 70px 10px 0 10px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 768px) {
  .news {
    display: block;
  }

  .title {
    text-align: center;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 661.98px) {
  .section_title {
    font-size: 28px;
  }

  .section_subtitle {
    margin-top: 0;
  }

  .section_action {
    margin: 50px 10px;
  }

  .hero_item {
    padding: 25px;
    min-width: 96%;
    margin-top: 50px;
    background: var(--white);
  }

  .hero_title {
    font-size: 28px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 659.98px) {
  .section_about {
    padding: 30px 10px;
  }

  .about {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
  }

  .about_item {
    margin-top: 10px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }

  .section_benefits {
    padding: 30px 10px;
  }

  .benefits_item {
    margin-top: 10px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }

  .section_contacts {
    padding: 70px 10px;
  }

  .contacts_title {
    line-height: 1.2;
    font-size: 24px;
  }

  footer {
    padding: 70px 30px;
  }

  .footer {
    gap: 45px;
  }

  .copy_text {
    font-size: 14px;
    line-height: 20px;
  }

  .menu {
    display: none;
  }

  .offers {
    gap: 0;
  }

  .offers_item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    margin-top: 20px;
  }

  .offer_btn {
    height: 40px;
  }

  .statistic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
  }

  .statistic_item:nth-child(2)::after {
    left: 80px;
    top: -15px;
    bottom: 0px;
    width: 80px;
    height: 2px;
  }

  .statistic_item:nth-child(2)::before {
    right: 80px;
    top: 75px;
    bottom: 0;
    width: 80px;
    height: 2px;
  }

  .section_team {
    margin: 50px 10px;
    padding: 10px 0;
  }

  .slider {
    margin: 15px;
  }

  .slider_arrows {
    margin-top: 5px;
  }

  .section_vision {
    padding: 50px 10px;
    gap: 5px;
  }

  .section_who {
    padding: 0 0 50px 0;
  }

  .section_who .who_img {
    display: none;
  }

  .who_img-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .who_item {
    padding: 50px 10px 0 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .section_why {
    padding: 20px 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .why_item {
    padding: 50px 10px 0 10px;
  }

@supports (-webkit-appearance:none) {

}
}

@media screen and (max-width: 659.98px) {
  .menu {
    position: fixed;
    background: var(--primary);
    left: 0;
    top: -10px;
    height: 100vh;
    width: 100vw;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: -10px;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: all;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 2;
    -webkit-animation: fadeIn 0.1s linear;
    animation: fadeIn 0.1s linear;
  }

@-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
}

  .burger {
    display: block;
    position: absolute;
    height: 20px;
    z-index: 3;
    cursor: pointer;
  }

  .burger.active-burger::before {
    content: "X";
    position: absolute;
    right: 25px;
    width: 100%;
    top: 30px;
    color: white;
    background: var(--secondary);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active-burger span {
    display: none;
  }

  .burger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--primaryDark);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger::before {
    top: 10px;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    width: 100%;
    top: 32px;
    right: 10px;
    scale: 1.2;
    background: var(--primaryDark);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .menu-item {
    margin-top: 25px;
  }

  .menu-item-link {
    color: var(--white);
  }

@supports (-webkit-appearance:none) {

}
}

@media screen and (max-width: 659.98px) and (max-width: 991.98px) {
  .menu.active .submenu_path {
    fill: var(--white);
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 479.98px) {
  .section_title {
    font-size: 24px;
    line-height: 120%;
  }

  .section_subtitle {
    margin-top: 15px;
  }

  .section_contacts {
    padding: 50px 10px;
  }

  .form {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding: 19px 10px;
  }

  .form_input {
    font-size: 14px;
    line-height: 1;
    padding: 14px 16px;
  }

  footer {
    padding: 50px 30px;
  }

  .footer {
    gap: 30px;
    padding-bottom: 20px;
  }

  .footer_title {
    font-size: 14px;
    line-height: 20px;
  }

  .footer_link {
    font-size: 12px;
    line-height: 20px;
  }

  .social {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 15px;
  }

  .header_wrapper {
    padding-bottom: 25px;
  }

  .header_wrapper .hero_img {
    display: none;
  }

  .hero_item {
    margin-top: 15px;
    margin-right: 10px;
  }

  .hero_title {
    font-size: 24px;
    line-height: 120%;
  }

  .hero_btns {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
  }

  .nav_btns.active {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .nav_btns {
    gap: 10px;
  }

  .nav_btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

@supports (-webkit-appearance:none) {

}
}
